.text_lite {
	font-family: 'Open Sans Regular';
}
.wrapForm {
	position : relative;
	width: 400px;
	margin-left: 125px;
	//margin-top: -5px;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.form_name {
	float: left;
}
.form_email {
	float: right;
}
input, textarea {
	resize:none;
}
.form_name, .form_email, .message, .captcha {
	position: relative;
	font-family: 'Open Sans Regular';
	font-size: 14px;
	color: #727070;

}
.first_form_input {

	width: 180px;
	height: 30px;
	padding: 5px;
	border : 1px solid #d6d5d3;
	border-radius : 5px;
	background-image: -webkit-linear-gradient(270deg, #fbfcfd , #f4f4f4 );

}

.first_form_input_text {
	font-family: 'Open Sans Lite';
	font-size: 12px;
}
.first_form_input:focus {
	color : #a4a3a3;
}
.message {
	margin-top: 10px;
}
.message_input {
	width: 388px;
	height: 170px;
	padding: 5px;
	border : 1px solid #d6d5d3;
	border-radius : 5px;
	background-image: -webkit-linear-gradient(270deg, #fbfcfd , #f4f4f4 );	
}
.message_input_text {
	font-family: 'Open Sans Lite';
	font-size: 12px;
}
.input_error {
	border: 1px solid #e0ac98;
	box-shadow: 0 0 0 1px #efdbd5, inset 0 0 0 1px #d6d5d3;
}
.captcha {
	width: 100%;
	margin-top: 10px;
	
}

.submit {
	margin-top: 33px;
	margin-bottom: 40px;
}
.submint_button {
	width: 123px;
	height: 38px;
	border-radius: 5px;
	margin-left: 28px;
	border: 1px solid #57d2b4;
	font-size: 14px;
	background-image: -moz-linear-gradient(rgba(128,232,203,1) 0%, rgba(67,183,150,1) 100%);
	background-image: -o-linear-gradient(rgba(128,232,203,1) 0%, rgba(67,183,150,1) 100%);
	background-image: -webkit-linear-gradient(rgba(128,232,203,1) 0%, rgba(67,183,150,1) 100%);
  	color: #1e7465;
  	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
  	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16);
}
.submint_button:hover {
	width: 123px;
	height: 38px;
	border-radius: 5px;
	background-image : -moz-linear-gradient(rgba(95,220,189,1) 0%,rgba(58,160,135,1) 100%);
	background-image : -o-linear-gradient(rgba(95,220,189,1) 0%,rgba(58,160,135,1) 100%);
	background-image : -webkit-linear-gradient(rgba(95,220,189,1) 0%,rgba(58,160,135,1) 100%);
	color: #1e7465;
  	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}
.clear_button {
	margin-left: 100px;	
	width: 123px;
	height: 38px;
	border-radius: 5px;
	border: 1px solid #d2d2d2;
	font-size: 14px;
	background-image: -moz-linear-gradient(rgba(255,255,255,1) 0%,rgba(233,230,228,1) 100%);
	background-image: -o-linear-gradient(rgba(255,255,255,1) 0%,rgba(233,230,228,1) 100%);
	background-image: -webkit-linear-gradient(rgba(255,255,255,1) 0%,rgba(233,230,228,1) 100%);
	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  	color: #727070;
  	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
}
.clear_button:hover {
	background-image: -moz-linear-gradient(rgba(232,231,231,1) 0%,rgba(194,192,192,1) 100%);
	background-image: -o-linear-gradient(rgba(232,231,231,1) 0%,rgba(194,192,192,1) 100%);
	background-image: -webkit-linear-gradient(rgba(232,231,231,1) 0%,rgba(194,192,192,1) 100%);
  	color: #727070;
  	box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
}
.name_tooltip {
	position: absolute;
	display: none;
	top: 123px;
	left: 20px;
	width : 93px;
	height: 26px;
	background-image: -moz-linear-gradient(#f3a58b,#d8825e);
	background-image: -o-linear-gradient(#f3a58b,#d8825e);
	background-image: -webkit-linear-gradient(#f3a58b,#d8825e);
	border-radius: 6px;
	border: 1px solid #d27c5e;
	border-top: 1px solid #f19a7c;
	box-shadow: 0 1px 2px #d9d8d7, inset 0px 1px 1px #f7c0ad;
	font-family: 'Open Sans Semibold';
	font-size: 12px;
	text-shadow: 0 1px #f1c2a7;
	text-align: center;
	line-height: 26px;
	color: #9a4e32;

}
.name_tooltip:before {
	content: '';
	display:block;
	position: absolute;
	top: 9px;
	left: 89px;
	height: 8px;
	width: 8px;
	background-image: -moz-linear-gradient(#f3a58b,#d8825e);
	background-image: -o-linear-gradient(#f3a58b,#d8825e);
	background-image: -webkit-linear-gradient(-45deg,#f3a58b,#d8825e);
	border-top: 1px solid #f19a7c;
	border-right: 1px solid #d27c5e;
	transform : rotate(45deg);
}
.email_tooltip {
	position: absolute;
	display: none;
	top: 123px;
	right: 10px;
	width : 100px;
	height: 26px;
	background-image: -moz-linear-gradient(#f3a58b,#d8825e);
	background-image: -o-linear-gradient(#f3a58b,#d8825e);
	background-image: -webkit-linear-gradient(#f3a58b,#d8825e);
	border-radius: 6px;
	border: 1px solid #d27c5e;
	border-top: 1px solid #f19a7c;
	box-shadow: 0 1px 2px #d9d8d7, inset 0px 1px 1px #f7c0ad;
	font-family: 'Open Sans Semibold';
	font-size: 12px;
	text-shadow: 0 1px #f1c2a7;
	text-align: center;
	line-height: 26px;
	color: #9a4e32;
}
.email_tooltip:before {
	content: '';
	display:block;
	position: absolute;
	top: 9px;
	left: -6px;
	height: 8px;
	width: 8px;
	background-image: -moz-linear-gradient(#f3a58b,#d8825e);
	background-image: -o-linear-gradient(#f3a58b,#d8825e);
	background-image: -webkit-linear-gradient(-45deg,#f3a58b,#d8825e);
	border-left: 1px solid #f19a7c;
	border-bottom: 1px solid #d27c5e;
	transform : rotate(45deg);
}
.message_tooltip {
	position: absolute;
	display: none;
	top: 270px;
	left: 20px;
	width : 93px;
	height: 26px;
	background-image: -moz-linear-gradient(#f3a58b,#d8825e);
	background-image: -o-linear-gradient(#f3a58b,#d8825e);
	background-image: -webkit-linear-gradient(#f3a58b,#d8825e);
	border-radius: 6px;
	border: 1px solid #d27c5e;
	border-top: 1px solid #f19a7c;
	box-shadow: 0 1px 2px #d9d8d7, inset 0px 1px 1px #f7c0ad;
	font-family: 'Open Sans Semibold';
	font-size: 12px;
	text-shadow: 0 1px #f1c2a7;
	text-align: center;
	line-height: 26px;
	color: #9a4e32;
}
.message_tooltip:before {
	content: '';
	display:block;
	position: absolute;
	top: 9px;
	left: 89px;
	height: 8px;
	width: 8px;
	background-image: -moz-linear-gradient(#f3a58b,#d8825e);
	background-image: -o-linear-gradient(#f3a58b,#d8825e);
	background-image: -webkit-linear-gradient(-45deg,#f3a58b,#d8825e);
	border-top: 1px solid #f19a7c;
	border-right: 1px solid #d27c5e;
	transform : rotate(45deg);
}
.captcha_tooltip {
	position: absolute;
	display: none;
	top: 415px;
	right: 60px;
	width : 140px;
	height: 26px;
	background-image: -moz-linear-gradient(#f3a58b,#d8825e);
	background-image: -o-linear-gradient(#f3a58b,#d8825e);
	background-image: -webkit-linear-gradient(#f3a58b,#d8825e);
	border-radius: 6px;
	border: 1px solid #d27c5e;
	border-top: 1px solid #f19a7c;
	box-shadow: 0 1px 2px #d9d8d7, inset 0px 1px 1px #f7c0ad;
	font-family: 'Open Sans Semibold';
	font-size: 12px;
	text-shadow: 0 1px #f1c2a7;
	text-align: center;
	line-height: 26px;
	color: #9a4e32;
}
.captcha_tooltip:before {
	content: '';
	display:block;
	position: absolute;
	top: 9px;
	left: -6px;
	height: 8px;
	width: 8px;
	background-image: -moz-linear-gradient(#f3a58b,#d8825e);
	background-image: -o-linear-gradient(#f3a58b,#d8825e);
	background-image: -webkit-linear-gradient(-45deg,#f3a58b,#d8825e);
	border-left: 1px solid #f19a7c;
	border-bottom: 1px solid #d27c5e;
	transform : rotate(45deg);
}
