
ul, p {
	padding: 0;
	margin:0;
}
@font-face {
    font-family: 'Open Sans lite';
    src: url('../fonts/opensans-light-webfont.eot');
    src: url('../fonts/opensans-light-webfont.eot?#iefix') format('embedded-opentype'),
         
         url('../fonts/opensans-light-webfont.woff') format('woff'),
         url('../fonts/opensans-light-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Regular';
    src: url('../fonts/opensans-regular-webfont.eot');
    src: url('../fonts/opensans-regular-webfont.eot?#iefix') format('embedded-opentype'),
         
         url('../fonts/opensans-regular-webfont.woff') format('woff'),
         url('../fonts/opensans-regular-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Semibold';
    src: url('../fonts/opensans-semibold-webfont.eot');
    src: url('../fonts/opensans-semibold-webfont.eot?#iefix') format('embedded-opentype'),
         
         url('../fonts/opensans-semibold-webfont.woff') format('woff'),
         url('../fonts/opensans-semibold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Open Sans Bold';
    src: url('../fonts/opensans-bold-webfont.eot');
    src: url('../fonts/opensans-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/opensans-bold-webfont.woff') format('woff'),
         url('../fonts/opensans-bold-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}
html{
	height: 100%;
	margin:0;
	padding: 0;
	
}
body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}
.wrapper {
	min-height: 100%;
	padding-bottom: -63px;
	position: relative;
  background-color: #60727e;
	background-image: url(../images/background.jpg);
	background-repeat: no-repeat;
  -moz-background-size: cover; /* Firefox 3.6+ */
  -webkit-background-size: cover; /* Safari 3.1+ и Chrome 4.0+ */
  -o-background-size: cover; /* Opera 9.6+ */
  background-size: cover; /* Современные браузеры */
}

/* Делаем Header с логотипом и меню иконок социальных сетей*/

.header {
	height: 90px;
  background-image: -webkit-linear-gradient(rgb(115,113,113), rgb(111,109,109));
	background-image: -o-linear-gradient(rgb(115,113,113), rgb(111,109,109));
	background-image: -moz-linear-gradient(rgb(115,113,113), rgb(111,109,109));
	border-bottom: 7px solid white;
	box-shadow: 0 0 1px rgba(0,0,0,.5);
  margin-bottom: 36px;
}
.no-cssgradients .header {
  background-color: #716f6f;
}
.wrapHeader {
	max-width: 1400px;
	margin: 0 auto;
}
.logo {
	padding-left: 8.5%;
	padding-top: 10px;
	float: left;
}

/* меню иконок социальных сетей */

.socNetMenu {
	height: 44px;
	float: right;
	margin-right: 6%;
}
.socNetMenu_line {
	margin-top: 25px;
}
.socNetMenu_line li{
	display: inline-block;
	list-style: none;
}

/* Спрайты меню социальных сетей*/

.sprite {
    background-image: url(../images/spritesheet.png);
    background-repeat: no-repeat;
    display: inline-block;
    padding-left: 9px;
}

.sprite-facebook {
    width: 38px;
    height: 40px;
    background-position: -5px -5px;
}

.sprite-facebook:hover {
    width: 38px;
    height: 40px;
    background-position: -5px -55px;
}

.sprite-github {
    width: 42px;
    height: 44px;
    background-position: -5px -105px;
}

.sprite-github:hover {
    width: 42px;
    height: 44px;
    background-position: -5px -159px;
}

.sprite-twitter {
    width: 42px;
    height: 44px;
    background-position: -5px -213px;
}

.sprite-twitter:hover {
    width: 42px;
    height: 44px;
    background-position: -5px -267px;
}

.sprite-vk {
    width: 42px;
    height: 44px;
    background-position: -5px -321px;
}

.sprite-vk:hover {
    width: 42px;
    height: 44px;
    background-position: -5px -375px;
}

/******************************/
/* Здесь Header заканчивается */
/******************************/


.wrapContent {
	max-width: 960px;
	margin: 0 auto;
	font-family: 'Open Sans Semibold';
	overflow : hidden;
	
}

/******************************/
/* Главное меню и контакты    */
/******************************/

.leftMenu {
	float:left;
	width: 250px;
	
}
.mainMenu, .contactMenu {
	box-shadow: 0px 2px 1px 0px rgba(17, 17, 17, 0.07);
}
.mainMenu {
  margin-bottom: 36px;
}
.blockLink {
	display: block;
  box-sizing: border-box;
	height: 100%;
	width: 100%;
	padding-top: 13px;
	padding-left: 29px;
	text-decoration: none;
  font-size: 20px;
  color: rgb(114, 112, 112);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.35);
}
.blockLink:hover {
	color: rgb(114, 112, 112);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}
.blockLink:active {
	color: rgb(238, 237, 236);
  text-shadow: 0px 1px 0px rgba(102, 101, 101, 0.75);
}
.blockLink_current {
	color: rgb(30, 116, 101);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}
.blockLink_current:hover {
	color: rgb(70, 115, 102);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
}
.blockLink_current:active {
	color: rgb(238, 237, 236);
  text-shadow: 0px 1px 0px rgba(102, 101, 101, 0.75);
}
.mainMenu_element {
  box-sizing:border-box;
  background-image: -moz-linear-gradient( 90deg, rgb(231,229,228) 0%, rgb(250,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(231,229,228) 0%, rgb(250,249,249) 94%, rgb(255,255,255) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(231,229,228) 0%, rgb(250,249,249) 94%, rgb(255,255,255) 100%);
  box-shadow: 0px 2px 1px 0px rgba(17, 17, 17, 0.07),inset 0px -2px 3px 0px rgba(45, 45, 45, 0.05);
  border: 1px solid #cecbc1;
  height: 55px;
}
.no-cssgradients .mainMenu_element {
  background-color: #f0eeed;
  border: 1px solid #d2d2d2;
}
.mainMenu_element:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(192,190,190) 0%, rgb(226,224,224) 87%, rgb(229,227,227) 90%, rgb(231,230,230) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(192,190,190) 0%, rgb(226,224,224) 87%, rgb(229,227,227) 90%, rgb(231,230,230) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(192,190,190) 0%, rgb(226,224,224) 87%, rgb(229,227,227) 90%, rgb(231,230,230) 100%);
  box-shadow: inset 0px -2px 1px 0px rgba(45, 45, 45, 0.04);
  height: 55px;
}
.no-cssgradients .mainMenu_element:hover {
  background-color: #c5c3c3;
}
.mainMenu_element:active {
  background-image: -moz-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
  box-shadow: 0px 2px 1px 0px rgba(9, 9, 9, 0.22),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  height: 55px;
}
.mainMenu_element_current {
  background-image: -moz-linear-gradient( 90deg, rgb(116,182,150) 0%, rgb(165,232,203) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(116,182,150) 0%, rgb(165,232,203) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(116,182,150) 0%, rgb(165,232,203) 100%);
  box-shadow: 0px 2px 1px 0px rgba(17, 17, 17, 0.16),inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  border: 1px solid #5ed1b4;
  height: 55px;
}
.current_top {
  border-radius: 5px 5px 0 0;
  border-top: 1px solid #5ed1b4;
}
.current_bottom {
  border-radius: 0 0 5px 5px;
  border-bottom: 1px solid #5ed1b4;
}
.top_border {
  border-radius: 5px 5px 0 0;
  border-top: 1px solid #cecbc1;
}
.bottom_border {
  border-radius: 0 0 5px 5px;
  border-top: 1px solid #cecbc1;
}
.no-cssgradients .mainMenu_element_current {
  background-color: #88cbac;
}
.mainMenu_element_current:hover {
  background-image: -moz-linear-gradient( 90deg, rgb(101,159,135) 0%, rgb(144,219,189) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(101,159,135) 0%, rgb(144,219,189) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(101,159,135) 0%, rgb(144,219,189) 100%);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  height: 55px;
}
.no-cssgradients .mainMenu_element_current:hover {
  background-color: #568873;
}
.mainMenu_element_current:active {
  background-image: -moz-linear-gradient( 90deg, rgb(73,117,99) 0%, rgb(97,152,130) 48%, rgb(121,187,160) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(73,117,99) 0%, rgb(97,152,130) 48%, rgb(121,187,160) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(73,117,99) 0%, rgb(97,152,130) 48%, rgb(121,187,160) 100%);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  height: 55px;
}
.head_yellow {
  background-image: url("../images/head_yellow.png");
  height: 45px;
  margin-bottom: -2px;
}
.contactMenu_element {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(214, 213, 211);
  background-image: -moz-linear-gradient( 90deg, rgb(245,245,245) 100%, rgba(255,255,255,0) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(245,245,245) 100%, rgba(255,255,255,0) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(245,245,245) 100%, rgba(255,255,255,0) 100%);
  
  height: 35px;
}
.no-cssgradients .contactMenu_element {
  background-color: #f8f8f8;
}
.contactMenu_element:hover {
  border-style: solid;
  border-width: 1px;
  border-color: rgb(212, 211, 210);
  background-image: -moz-linear-gradient(to bottom, #fbf9f9 0%,#e0c591 100%);
  background-image: -webkit-linear-gradient(to bottom, #fbf9f9 0%,#e0c591 100%);
  background-image: -ms-linear-gradient(to bottom, #fbf9f9 0%,#e0c591 100%);
  background-image: linear-gradient(to bottom, #fbf9f9 0%,#e0c591 100%);
  height: 35px;	
  text-decoration: underline;
}
.no-cssgradients .contactMenu_element:hover {
  background-color: #f3eddf;
}

.contactMenu_head {
  font-size: 20px;
  font-family: "Open Sans Semibold";
  color: rgb(208, 152, 44);
  text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.4);
  padding-top: 7px;
  padding-left: 29px;
 }

.contactMenu_block {
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding-left: 20px;
}
.contactMenu_element_text {
	display: block;
  box-sizing: border-box;
	height: 100%;
	width: 100%;
  text-decoration: none;
  font-family: "Open Sans Regular";
  color: #727070;
  font-size: 14px;
  padding-left: 55px;
  padding-top: 7px;
  text-align: left;

}
.contactMenu_sprite_email {
	background-image: url(../images/spritesheet_1.png);
  background-repeat: no-repeat;
  background-position: -5px -5px;
}
.contactMenu_sprite_phone {
	background-image: url(../images/spritesheet_1.png);
  background-repeat: no-repeat;
  background-position: -5px -53px;
}
.contactMenu_sprite_skype {
	background-image: url(../images/spritesheet_1.png);
  background-repeat: no-repeat;
  background-position: -5px -101px;
}

/******************************/
/* Контетнт                   */
/******************************/

.rightMenu {
	width: 650px;
	float: right;
  border: 1px solid #c5c5c5;
	border-radius: 5px;
	overflow: hidden;
	background-image: -moz-linear-gradient( 0deg, #f7f6f5 0%, #f0eeed 100%);;
  background-image: -webkit-linear-gradient( 0deg, #f7f6f5 0%, #f0eeed 100%);
  background-image: -ms-linear-gradient( 0deg, #f7f6f5 0%, #f0eeed 100%);;
  padding-bottom: 15px;
  margin-bottom: 36px;
}
.no-cssgradients .rightMenu {
  background-color: #f0eeed;
}
.rightMenuHead {
  background-image: -moz-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(123,120,120) 0%, rgb(169,168,168) 100%);
  box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.3);
  border: 1px solid #9c9c9c;
  margin-bottom: 40px;
}
.no-cssgradients .rightMenuHead {
  background-color: #716f6f;
}
.rightMenuHead_text {
  font-size: 24px;
  font-family: "Open Sans Semibold";
  color: rgb(238, 237, 236);
  line-height: 55px;
  text-align: left;
  padding-left: 45px;
  text-shadow: 0px 1px 0px #6f6e6e;
}

.myPhoto {
	width: 130px;
	height: 130px;
	border-radius: 50%;
	overflow: hidden;
	margin-left: 40px;
	border: 8px solid #f6f5f4;
	box-shadow: 0px 0px 9px  #d3d2d1;
	float: left;
}

.aboutMe {
	width: 400px;
	margin-top: -10px;
	margin-right: 25px;
	float: right;
}
.aboutMe_text {
	
}
.aboutMe_text_line {
	font-size: 14px;
  color: rgb(114, 112, 112);
  line-height: 1.8;
  text-align: left;
  }
.aboutMe_text_line_lite {
  font-family: 'Open Sans Regular';
}
.aboutMe_skils {
	margin-top: 10px;
	padding-bottom: 45px;
}
.skils {
	width: 235px;
	float:right;
	margin-top: -20px;
	margin-left: -10px;
}
.button_back {
	position: relative;
  display: inline-block;
  height: 19px;
  margin-right: 15px;
  margin-bottom: 10px;
  border: 1px solid #b8b8b8;
  border-radius: 0 12% 12% 0;
  border-left: none;
  background-image: -webkit-linear-gradient( 270deg, #fff , #e6e4e4 );
  background-image: -o-linear-gradient( 270deg, #fff , #e6e4e4 );
  background-image: -moz-linear-gradient( 270deg, #fff , #e6e4e4 );
  box-shadow: 0px 0px 2px  #d3d2d1;
  z-index: 1;
}
.button_back:before {
	  box-sizing: border-box;
  	content: '°';
  	font-family: 'Open Sans Lite';
  	font-size: 16px;
  	color: #b8b8b8;
  	text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.45);
  	display: block;
 	  position: absolute;
   	background-image: -webkit-linear-gradient( 315deg, #fff , #e6e4e4 );
    background-image: -o-linear-gradient( 315deg, #fff , #e6e4e4 );
    background-image: -moz-linear-gradient( 315deg, #fff , #e6e4e4 );
  	left: -8px;
 	  top: 2px;
   	width: 15px;
  	height: 15px;
  	padding-top: 2px;
  	padding-left: 2px;
  	border-left: 1px solid #b8b8b8;
  	border-bottom: 1px solid #b8b8b8;
  	border-radius: 1px 0 1px 35%;
    box-shadow: -1px 1px 1px  rgba(211,210,209,0.53);
  	transform: rotate(45deg);
    -webkit-transform: rotate(45deg); 
}
.no-csstransforms .button_back:before {
    box-sizing: border-box;
    content: '○';
    font-family: 'Open Sans Lite';
    font-size: 12px;
    color: #467366;
    display: block;
    position: absolute;
    left: -15px;
    top: -1px;
    width: 15px;
    height: 21px;
    padding-top: 4px;
    padding-left: 2px;
    border-top: 1px solid #d4d4d4;
    border-left: 1px solid #d4d4d4;
    border-bottom: 1px solid #d4d4d4;
    border-radius: 1px 0 1px 35%;
}
.button_back_text {
	position: relative;
  margin:0;
	padding-left:5px;
	padding-right: 5px;
	font-family: 'Open Sans Semibold';
  font-size: 9px;
  color: #467366;
  text-shadow: 1px 1px  #a9c0ba;
	vertical-align: 4px;
  z-index: 2;
}
.experience, .experience_last{
  width: 560px;
  margin-left: 40px;
	margin-bottom: 20px
	
}
.experience_icon {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	background-color: #f7f7f7;
  box-shadow: inset 2px 2px 2px 0px rgba(206,206,206,1),inset 0px 0px 2px 1px #fff;
  
	background-image: url(../images/spritesheet_2.png);
  background-repeat: no-repeat;
  background-position: -34px -34px;
  float: left;
  
}
.experience_text {
	margin-left: 100px;
	padding-top: 5px;
}
.experience_text_line {
	font-size: 14px;
  color: rgb(114, 112, 112);
  line-height: 1.8;
  text-align: left;
}
.experience_text_line_lite {
	font-family: 'Open Sans Regular';
	font-size: 14px;
  color: rgb(114, 112, 112);
  line-height: 1.8;
  text-align: left;
}
.experience:after{
  content: '';
  display: block;
	margin-top: 18px;
  width: 560px;
  height: 0px;
  border: 1px solid #dbdbda;
  border-bottom: 1px solid #edeceb;
}

.icon_school {
	background-position: -34px -535px;
}
.icon_univ {
	background-position: -37px -285px;
}
.icon_file {
	background-position: -32px -160px;
}
.empty {
	height: 63px;
	margin-top: 40px;
	position: relative;
}

/******************************/
/* Footer                     */
/******************************/

.final {
	position: relative;
	height: 63px;
	margin-top: -63px;
	background-image: -moz-linear-gradient( 0deg, #ffffff 0%, #f0f0f0 0%);
  background-image: -webkit-linear-gradient( 0deg, #ffffff 0%, #f0f0f0 0%);
  background-image: -ms-linear-gradient( 0deg, #ffffff 0%, #f0f0f0 0%);
}
.no-cssgradients .final {
  background-color: #f5f5f5;
}
.footer {
	width: 640px;
	margin: 0 auto;
	padding-top: 25px;
}
.footer_login {
	background-image: url(../images/spritesheet_3.png);
  background-repeat: no-repeat;
  float: left;

}
.login {
	display: block;
	width: 18px;
  height: 21px;
  background-position: -53px -53px;
  text-decoration: none;
  font-family: 'Open Sans Bold';
  font-size: 14px;
  color: #9c9c9c;
  text-shadow: 0 0 1px  #D4D4D4;
}  
.login:after {
  content: 'вход';
  padding-left: 28px;
  
}
.login:hover {
	width: 23px;
  height: 21px;
  background-position: -53px -180px;
}
.footer_copyright {
  font-size: 12px;
  font-family: "Open Sans lite";
  color: rgb(114, 112, 112);
  line-height: 1.2;
  margin-left: 124px;
  margin-top: 5px;
}

