.my_work_list {
	margin-left: 42px;
}
.my_work_list_item {
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.my_work_list_item_last {
	position: relative;
	display: inline-block;
	vertical-align: top;
	margin-bottom: 100px;
}
.my_work_list_item_wrap {
	width: 167px; 
	border: 1px solid #cacaca;
	background-color: white;
	border-radius: 5px;
	margin-right: 24px;
	margin-bottom: 48px;
	overflow: hidden;
}
.backLayer {
	position: relative;
	height: 120px;
	width: 167px;
	background-color: #716f6f;	
}
.backLayer_text {
	position: absolute;
	top:50%;
	color: white;
	border: 1px solid white;
	left: 22%;
	margin-top: -0.625em;
	padding:3px;
}
.my_work_item_img {
	margin-top: -120px;
	height: 120px;
	overflow: hidden;
	position: relative;
	border-bottom: 1px solid #bfbfbf;
}
.img_opacity:hover {
	opacity : 0.2;	
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=20)";
}
.my_work_item_url {
	height: 33px;
	position: relative;
	overflow: hidden;
	text-align: center;
	background-color: #f2f2f2;
	text-decoration: none;
	margin-bottom: 5px;
}
.item_url {
	display: block;
	text-decoration: none;
}
.url_decor {
	font-family: 'Open Sans Semibold';
	font-size: 13px;
	color: #727070;
	line-height: 33px;
}
.my_work_item_disc {
	position: relative;
	overflow: hidden;
	text-align: center;
	border: 1px solid solid #bfbfbf;
	padding-bottom: 10px;
}
.disc_decor {
	font-family: 'Open Sans lite';
	font-size: 12px;
	color: #727070;
}
.add_item {
	display: block;
	text-decoration: none;
	height: 133px;
    background-image: -moz-linear-gradient( 90deg, rgb(231,229,228) 0%, rgb(250,249,249) 94%, rgb(255,255,255) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(231,229,228) 0%, rgb(250,249,249) 94%, rgb(255,255,255) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(231,229,228) 0%, rgb(250,249,249) 94%, rgb(255,255,255) 100%);
    box-shadow: 0px 2px 1px 0px rgba(17, 17, 17, 0.07),inset 0px -2px 3px 0px rgba(45, 45, 45, 0.05);
    border: 1px solid solid #bfbfbf;
}
.add_item:hover {
	background-image: -moz-linear-gradient( 90deg, rgb(192,190,190) 0%, rgb(226,224,224) 87%, rgb(229,227,227) 90%, rgb(231,230,230) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(192,190,190) 0%, rgb(226,224,224) 87%, rgb(229,227,227) 90%, rgb(231,230,230) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(192,190,190) 0%, rgb(226,224,224) 87%, rgb(229,227,227) 90%, rgb(231,230,230) 100%);
    box-shadow: inset 0px -2px 1px 0px rgba(45, 45, 45, 0.04);
}
.no-cssgradients .add_item:hover {
	background-color: #c5c3c3;
}
.add_item_icon {
	width: 55px;
	height: 55px;
	border-radius: 50%;
	box-shadow: inset 2px 2px 4px 0px rgba(206,206,206,1);
	background-image: url(../images/spritesheet_2.png);
    background-repeat: no-repeat;
    background-position: -35px -410px;
    margin-left: 54px;    
}
.add_item_block {
	padding-top: 25px;
	
}
.add_item_text_style {
	font-family: 'Open Sans Semibold';
	font-size: 14px;
	color: #727070;
	padding-left: 20px;
	padding-top: 5px;
}
.modal_window {
	display: none;
	position: relative;
	margin: 0 auto;
	width: 363px;
	border-radius: 7px;
	border : 1px solid #bababa;
	background-color: #fbfbfa;
	background-image: -moz-linear-gradient(#fbfbfa, #f0eeed);
    background-image: -webkit-linear-gradient(#fbfbfa, #f0eeed);
	background-image: -ms-linear-gradient(#fbfbfa, #f0eeed);
	box-shadow: 1px 1px 1px  #bababa;
}
.modal_window:before {
	position: absolute;
	content: 'Добавление проекта';
	font-family: 'Open Sans Lite';
	font-size: 12px;
	top: -20px;
	left: 20px;
	color: #f8f7f6;
}
.error_window {
	background-color: #e9c8bc;
	border: 1px solid #cb6945;
	border-radius: 5px;
	box-sizing : border-box;
	padding: 5px;
	font-family: 'Open Sans Regular';
	font-size: 14px;
	color: #cb6945;
	margin-bottom: 5px;
}
.error_window_text {
	font-family: 'Open Sans Semibold';
	font-size: 16px;

}
.close_error_window {
	display: block;
	width: 14px;
	height: 14px;
	position: absolute;
	right:4px;
	top:6px;
	background-image: url(../images/closeerror.png);
	background-repeat:  no-repeat;
	background-position: center;

}
.close_window {
	display: block;
	width: 14px;
	height: 14px;
	position: absolute;
	right:4px;
	top:6px;
	background-image: url(../images/X.png);
	background-repeat:  no-repeat;
	background-position: center;

}
.add_project {
	position: relative;
	width: 325px;
	margin: 25px auto;

}
.project {
	margin-bottom: 5px;
}
.project_up {
	margin-top: -20px;
}
.headline {
	font-family: 'Open Sans Regular';
	font-size: 14px;
	color: #727070;
	margin-bottom: 5px;

}
.project_name, .project_picture, .project_url, .project_disc {
	height: 41px;
	width: 320px;
	border-radius: 5px;
	border : 1px solid #bababa;
	font-family: 'Open Sans Lite';
	font-size: 12px;
	color: #c7c6c6;
	padding-left: 5px;
	background-color: #fbfcfd;
	background-image: linear-gradient(#fbfcfd , #f4f4f4 );
	resize:none;
}
.project_picture {
	width: 271px;
	height: 43px;
	display: inline-block;
	box-sizing: border-box;
	vertical-align: top;
	line-height: 43px;

}
.add_picture {
	display: inline-block;
	vertical-align: baseline;
	margin-top: -3px;
	margin-left: -9px;
	letter-spacing: 0;
	font-size: 0;
	word-spacing: 0;
	cursor: pointer;
}
.fakeinput {
	width:0;
	height: 0;
}
.project_disc {
	min-height: 110px;
}
.submit_project {
	position: relative;
	margin: 0 auto;
	width: 130px;
}
.submit_project_button {
	margin: 0 !important;
}
.project_tooltip {
	position: absolute;
	display: block;
	box-sizing : border-box;
	padding-right: 6px;
	padding-left: 6px;
	height: 26px;
	background-color: #f3a58b;
	background-image: -moz-linear-gradient(#f3a58b,#d8825e);
	background-image: -o-linear-gradient(#f3a58b,#d8825e);
	background-image: -webkit-linear-gradient(#f3a58b,#d8825e);
	border-radius: 6px;
	border: 1px solid #d27c5e;
	border-top: 1px solid #f19a7c;
	box-shadow: 0 1px 2px #d9d8d7, inset 0px 1px 1px #f7c0ad;
	font-family: 'Open Sans Semibold';
	font-size: 12px;
	text-shadow: 0 1px #f1c2a7;
	text-align: center;
	line-height: 26px;
	color: #9a4e32;
	white-space: nowrap;
	z-index : 1;
}
.project_tooltip_pointer{
	content: '';
	display:block;
	position: absolute;
	top: 35%;
	left: 95%;
	height: 8px;
	width: 8px;
	background-image: -moz-linear-gradient(#f3a58b,#d8825e);
	background-image: -o-linear-gradient(#f3a58b,#d8825e);
	background-image: -webkit-linear-gradient(-45deg,#f3a58b,#d8825e);
	border-top: 1px solid #f19a7c;
	border-right: 1px solid #d27c5e;
	transform : rotate(45deg);
	z-index: -1;
}
.done_window {
	position: absolute;
	width: 100%;
	top: 20%;
	border-radius: 7px;
	border : 1px solid #bababa;
	background-image: -moz-linear-gradient(#fbfbfa, #f0eeed);
    background-image: -webkit-linear-gradient(#fbfbfa, #f0eeed);
	background-image: -ms-linear-gradient(#fbfbfa, #f0eeed);
	box-shadow: 1px 1px 1px  #bababa;
}
.done_window_content {
	position: relative;
	width :320px;
	margin: 27px auto 27px;
	box-sizing : border-box;
	padding : 10px;
	background-color: #bce1cb;
	border-radius: 7px;
	border: 1px solid #49bb7b;
	font-family: 'Open Sans Regular';
	font-size: 14px;
	color: #49bb7b;
}
.done_window_text {
	font-family: 'Open Sans Semibold';
	font-size: 16px;
}

